{% extends 'page.html.twig' %}

{% block title %}Polityka prywatności | Borys Jankiewicz - TPM{% endblock %}
{% block stylesheets %}
{{parent()}}
<style type="text/css">

</style>
{% endblock %}

{% block sections %}
<section class="hero-about">
        <div class="container">



			<h1 class="single">Polityka Prywatności</h1>

					
            
        </div>
    </section>

    <div class="container"><div class="divider-line solid light"></div></div>
<section class="sec-padding">
<div class="container">
			<p><strong>1. Administrator Danych</strong><br>
			Administratorem Twoich danych osobowych jest Borys Jankiewicz.</p>

			<p><strong>2. Cel przetwarzania</strong><br>
			Dane wpisane w formularzu kontaktowym (imię, email, treść wiadomości) będą przetwarzane wyłącznie w celu udzielenia odpowiedzi na Twoje zapytanie.</p>

			<p><strong>3. Podstawa prawna</strong><br>
			Przetwarzanie odbywa się na podstawie Twojej dobrowolnej zgody (art. 6 ust. 1 lit. a RODO), którą wyrażasz wysyłając formularz.</p>

			<p><strong>4. Odbiorcy danych</strong><br>
			Twoje dane mogą być przetwarzane przez dostawców usług IT (hosting AWS, poczta Google), z którymi współpracuję.</p>

			<p><strong>5. Twoje prawa</strong><br>
			Masz prawo do żądania dostępu do swoich danych, ich sprostowania, usunięcia lub ograniczenia przetwarzania. Możesz w każdej chwili wycofać zgodę, pisząc na adres podany w sekcji Kontakt.</p>
</div>
</section>

{% endblock sections %}
